@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 5px 10px 10px;
    font-family: "Averia Serif Libre";

}

body {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/darksouls.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    height: 100%;
}

.main {
    height: 100%;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 30vh;
    border-radius: 200px;
    animation: rodar 1.5s ease-in-out infinite;

}

.container {
    border-radius: 20px;
    background-color: rgb(101, 86, 82);
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: inset 0px 0px;
    animation: moverParaCimaBaixo 3s ease-in-out infinite;

}

h1 {
    cursor: none;
}

h1:hover {
    animation: brilharRGB 1.5s infinite alternate;
}

@keyframes brilharRGB {
    0% {
        color: rgb(255, 0, 0);
        text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
    }

    33% {
        color: rgb(0, 255, 0);
        text-shadow: 0 0 10px rgb(0, 255, 0), 0 0 20px rgb(0, 255, 0), 0 0 30px rgb(0, 255, 0);
    }

    66% {
        color: rgb(0, 0, 255);
        text-shadow: 0 0 10px rgb(0, 0, 255), 0 0 20px rgb(0, 0, 255), 0 0 30px rgb(0, 0, 255);
    }

    100% {
        color: rgb(255, 255, 0);
        text-shadow: 0 0 10px rgb(255, 255, 0), 0 0 20px rgb(255, 255, 0), 0 0 30px rgb(255, 255, 0);
    }
}

@keyframes moverParaCimaBaixo {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes rodar {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }


}

.container img {
    max-width: 100px;
    height: auto;
}

.container p {
    margin: 0;
}